<main class="main-wrap">
    <section class="content-main">
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <a href="/admin/view-products"
                                class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel
                            </a>
                            {{!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Cancel</button>
                            --}}
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="name"
                                            required>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4"
                                            name="description" type="text" required></textarea>
                                    </div>
                                    {{!-- <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <select class="form-select">
                                            <option> Alpina </option>
                                            <option> Rolex </option>
                                            <option> Angelous </option>
                                            <option> Fossil </option>
                                            <option> Sonata </option>
                                            <option> Fastrack </option>
                                            <option> Casio </option>
                                            <option> Titan </option>
                                        </select>
                                    </div> --}}
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Stocking</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label for="stock" class="form-label">Stock</label>
                                        <input type="number" placeholder="000" class="form-control" name="stock"
                                            required>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label for="price" class="form-label">Price</label>
                                        <input type="number" placeholder="00.0" class="form-control" name="price"
                                            required>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <div class="mb-4">
                                            <label class="form-label">Category</label>
                                            <select class="form-select" name="category" id="catgName">

                                                <option value="">Select a Category</option>
                                                {{#each category}}
                                                {{#if this.status}}
                                                <option value="{{this._id}}">{{this.name}} </option>
                                                {{/if}}
                                                {{/each}}
                                            </select>
                                        </div>
                                        {{!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" checked="" name="mycategory" type="radio" />
                                            <span class="form-check-label"> {{this.category.[0]}} </span>
                                        </label> --}}
                                        {{!-- <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="mycategory" type="radio" />
                                            <span class="form-check-label"> Men </span>
                                        </label>
                                        <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                            <input class="form-check-input" name="mycategory" type="radio" />
                                            <span class="form-check-label"> Smart Watches</span>
                                        </label> --}}
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>5. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label for="image" class="form-label">Images</label>
                                        <input class="form-control" type="file" name="image" id="image" multiple
                                            required />
                                    </div>
                                    <div class="img-container" style="display: flex;">
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section> <!-- content-main end// -->
</main>