<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- [ breadcrumb ] start -->

                        <div class="card">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-body ">

                                        <form action="/admin/edit-banner/{{banner._id}}" method="post"
                                            enctype="multipart/form-data">

                                            <div class="rows">

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <h4 class="text-primary">Add Banners</h4>
                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="fullName">Banner Image</label>
                                                        <input type="file" class="form-control" id="fullName"
                                                            name="image" />
                                                    </div>
                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="eMail">Bannner Head</label>
                                                        <input type="text" class="form-control" id="head" name="head"
                                                            value="{{banner.head}}" />
                                                    </div>
                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="form-group">
                                                        <label for="eMail">Banner text</label>
                                                        <input type="text" class="form-control" id="text" name="text"
                                                            value="{{banner.text}}" />
                                                    </div>
                                                </div>

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                    <div class="text-right mt-3">

                                                        {{! <button type="submit" id="submit"
                                                            class="btn-primary p-2">Update</button> }}
                                                        <button type="submit"
                                                            class="btn btn-primary btn-block">Update</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->