<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            {{#if adminName}}
            {{adminName}}
            {{/if}}
            <ul class="nav">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle" style="width:50px;height:50px; "
                            src="/assets/imgs/people/akhila.jpg" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        {{#if adminName}}
                        <a class="dropdown-item text-danger" href="/admin/adminLogout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </header>
</main>