{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

<style>
    .btn {
        width: 100%;
        background-color: rgb(9, 30, 30);
    }
</style>

<div id="page-content ">
    <!-- Lookbook Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="empty-page-content text-center">
                    <br><br><br><br>
                    <h1 style="font-size: 85px;">404 </h1>
                    <h3 style="font-size: 25px;">{{message}}</h3>
                    <p style=" font-size: large;color:red">The page you requested does not exist.</p>
                    <br>
                    <p><a href="/" class="btn btn--has-icon-after" style="color: azure;">Continue shopping!!! <i
                                class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Lookbook Start -->
</div>