{{!-- <div class="d-flex main-otp-page justify-content-center align-items-center level container-fluid mx-o px-0">
    <div class="card-otp py-3 px-3 border">
        <h5 class="m-0 text-primary" style="letter-spacing: 0.2rem;font-weight: bold;">Forgot Password</h5>
        <span class="mobile-text text-dark" style="letter-spacing: 0.05rem;">Enter your registered Mobile Number</span>
        <form action="/forgotPassword" method="get">
            <div class="d-flex flex-row mt-5">
                <input type="phone" name="phone" placeholder="without country code" maxlength="10" class="form-control"
                    autofocus="">
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-primary" style="letter-spacing: 0.1rem;" value="verify">
            </div>
        </form>
        {{#if loginErr}}
        <div class="text-center mt-4">
            <span class="font-weight-bold text-danger cursor">{{loginErr}}</span>
        </div>
        {{/if}}
    </div>
</div> --}}

<div class="contents">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="form-block mx-auto" style="margin-top: 188px;">
                    <div class="text-center mb-5">
                        <h3 class="text-uppercase">Forgot Password</h3>
                        <p class="text-white-50 mb-3">Please enter your registered mobile number</p>
                    </div>
                    {{#if loginErr}}
                    <b class="h5 error">{{loginErr}}</b>
                    {{/if}}
                    {{!-- --FORM -- --}}
                    <form id="send-otp-forgotPass" action="">
                        <div class="form-group first">
                            <label for="username">Enter number</label>
                            <input type="phone" name="phone" class=" form-control"
                                placeholder="Enter mobile number without country code" id="phone">
                        </div>
                        <input type="submit" value="Request OTP" class="btn btn-block py-2 btn-primary"
                            data-toggle="modal" data-target="#exampleModalCenter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto" style="margin-top: 188px;">
                        <div class="text-center mb-5">
                            <h3 class="text-uppercase">OTP Verification</h3>
                            <p class="text-white-50 mb-3">mobile-text">Enter the code we just
                                send on your mobile phone</p>
                        </div>
                        {{!-- --FORM -- --}}
                        <form id="otp-verify-forgotPass" action="">
                            <div class="form-group first">
                                <label for="otp">Enter code</label>
                                <input type="text" name="otp" class=" form-control" placeholder="Enter OTP"
                                    id="inputPassword2">
                            </div>
                            <input type="submit" value="Verify OTP" class="btn btn-block py-2 btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const verifyButton = document.getElementById('verify');
    $('#send-otp-forgotPass').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/forgotPassword-otp',
            method: 'post',
            data: $('#send-otp-forgotPass').serialize(),
            success: (res) => {
                if (res) {
                    verifyButton.style.visibility = 'visible'
                }
                else {
                    location.reload();
                }

            }
        })
    })

    $('#otp-verify-forgotPass').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/forgotPasswordVerify',
            method: 'post',
            data: $('#otp-verify-forgotPass').serialize(),
            success: (res) => {
                if (res.status) {
                    location.href = '/newPasswordUpdate';
                }
                else {
                    location.reload();
                }
            }
        })
    })
    const modal = document.querySelector('.modal');
    const closeButton = document.querySelector('.close-modal');

</script>