<div class="contents">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="form-block mx-auto" style="margin-top: 188px;">
                    <div class="text-center mb-5">
                        <h3 class="text-uppercase">Enter Your Password</h3>
                        <p class="text-white-50 mb-3">Please enter your registered mobile number</p>
                    </div>
                    {{!-- --FORM -- --}}
                    <form action="/newPasswordUpdatePost" method="post">
                        <div class="mt-3">
                            <label for="password">Enter your password</label>
                            <input type="password" id="password" name="password" onkeyup="validatePassword()"
                                placeholder="enter new password" class="form-control" autofocus="">
                            <span id="password-error" class="validation-label pl-3 ms-auto"></span>
                        </div>

                        <input value="{{userMobile}}" class="d-none" name="mobile">

                        <div class="mt-4">
                            <label for="password2">Re-enter the password</label>
                            <input type="password" id="password2" onkeyup="validateRePassword()"
                                placeholder="renter the password" class="form-control" autofocus="">
                            <span id="password2-error" class="validation-label pl-3 ms-auto"></span>
                        </div>
                        <div class="text-center mt-3 mb-3">
                            <input type="submit" class="btn btn-primary" onclick="return validateForm()"
                                style="letter-spacing: 0.2rem;font-weight: bold;" value="submit">
                            <span id="submit-error" class="validation-label pt-2"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var passwordError = document.getElementById('password-error');
    var password2Error = document.getElementById('password2-error');
    var submitError = document.getElementById('submit-error');
    function validatePassword() {
        var password = document.getElementById('password').value;
        var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
        if (password.match(passChecker)) {
            passwordError.innerHTML = '';
            return true;
        } else {
            passwordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
            return false;
        }
    }
    function validateRePassword() {
        var password = document.getElementById('password').value;
        var password2 = document.getElementById('password2').value;
        if (password !== password2) {
            password2Error.innerHTML = "password does'nt match !!";
            return false;
        } else {
            password2Error.innerHTML = " ";
            return true;
        }
    }
    function validateForm() {
        if (!validatePassword() || !validateRePassword()) {
            submitError.style.display = 'flex';
            submitError.style.justifyContent = 'center';
            submitError.innerHTML = 'Please Enter the password correct to submit';
            setTimeout(() => {
                submitError.style.display = 'none';
            }, 3000);
            return false;
        }
    }
</script>