<style>
    body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
    }

    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 17px;
        margin: 0;
    }

    b {
        font-weight: bold;
    }

    i {
        color: #9ABC66;
        font-size: 66px;
        line-height: 99px;
        margin-left: -1px;
    }

    .card {
        height: 450px;
        background: white;
        padding: 26px;
        border-radius: 40px;
        box-shadow: 0 21px 50px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
</style>

<br>
<div class="card">
    <div style="border-radius:200px; height:94px; width:99px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
    </div>
    <h1 style="color: rgb(157,49,102);">ORDER CONFIRMED!</h1>
    <p class="text-dark">
        <b style="font-size: larger;">Hello {{orderDetails.deliveryDetails.name}},</b><br><br>
    <p>We received your purchase request;<br /> we'll be in touch shortly!</p><br><br><br>
    <p class="text-dark">
        <b>YOUR ORDER ID: {{orderDetails._id}}</b><br><br>
    <p class="text-dark">Delivering to: {{orderDetails.deliveryDetails.address}} </p>
</div>
<div class="text-center"><br>
    <a href="/" class="btn btn-sm height-auto px-3 py-2 btn-primary mx-2"
        style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">BACK
        TO SHOP</a>
    <a href="/viewOrders" class="btn btn-sm height-auto px-3 py-2 btn-primary mx-2"
        style="background-color: rgb(157,49,102);border-color:rgb(157,49,102)">VIEW ORDERS</a>
</div>