<div class="contents">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
                <div class="form-block mx-auto" style="margin-top: 188px;">
                    <div class="text-center mb-5">
                        <h3 class="text-uppercase">Mobile Phone Verification</h3>
                        <p class="text-white-50 mb-3">Please enter your registered mobile number</p>
                    </div>
                    {{#if loginErr}}
                    <b class="h5 error">{{loginErr}}</b>
                    {{/if}}
                    {{!-- --FORM -- --}}
                    <form id="send-otp" action="">
                        <div class="form-group first">
                            <label for="username">Enter number</label>
                            <input type="phone" name="phone" class=" form-control"
                                placeholder="Enter mobile number without country code" id="phone">
                        </div>
                        <input type="submit" value="Request OTP" class="btn btn-block py-2 btn-primary"
                            data-toggle="modal" data-target="#exampleModalCenter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto" style="margin-top: 188px;">
                        <div class="text-center mb-5">
                            <h3 class="text-uppercase">OTP Verification</h3>
                            <p class="text-white-50 mb-3">mobile-text">Enter the code we just
                                send on your mobile phone</p>
                        </div>
                        {{!-- --FORM -- --}}
                        <form id="otp-verify" action="">
                            <div class="form-group first">
                                <label for="otp">Enter code</label>
                                <input type="text" name="otp" class=" form-control" placeholder="Enter OTP"
                                    id="inputPassword2">
                            </div>
                            <input type="submit" value="Verify OTP" class="btn btn-block py-2 btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{!-- <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">OTP VERIFICATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="otp-verify" action="">
                    <span class="mobile-text">Enter the code we just
                        send on your mobile phone <b class="text-danger">+91 {{user.phone}}</b>
                    </span>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="otp" class="sr-only">Enter OTP</label>
                        <input type="text" name="otp" class="form-control" id="inputPassword2" placeholder="enter otp">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-warning mb-2">verify OTP</button>
                    </div>
                </form>
            </div>

        </div> --}}
    </div>
</div>

<script src="mainotp.js"></script>

<script>
    const verifyButton = document.getElementById('verify');
    $('#send-otp').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/send-otp',
            method: 'post',
            data: $('#send-otp').serialize(),
            success: (res) => {
                if (res) {
                    verifyButton.style.visibility = 'visible'
                }
                else {
                    location.reload();
                }

            }
        })
    })

    $('#otp-verify').submit((e) => {
        e.preventDefault();
        $.ajax({
            url: '/verify-otp',
            method: 'post',
            data: $('#otp-verify').serialize(),
            success: (res) => {
                if (res.status) {
                    location.href = '/';
                }
                else {
                    location.reload();
                }
            }
        })
    })
    const modal = document.querySelector('.modal');
    const closeButton = document.querySelector('.close-modal');

</script>