<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>SignUp</title>
</head>

<body>
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('/images/sign.jpg');"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">SignUp to <strong>CozaStore</strong></h3>
                            </div>
                            {{#if signupErr}}
                            <p class="text-center validation-label" style="color: red;">
                                <strong>{{signupErr}}</strong>
                            </p>
                            {{/if}}
                            <form action="/signup" method="post">
                                <div class="form-group last mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="Your Full Name"
                                        id="name" onkeyup="validateName()" />
                                    <span id="name-error" class="validation-label" style="color: red;"></span>
                                </div>
                                <div class="form-group first">
                                    <label for="username">Email</label>
                                    <input type="text" class="form-control" name="email"
                                        placeholder=" your-email@gmail.com" id="email" onkeyup="validateEmail()" />
                                    <span id="email-error" class="validation-label" style="color: red;"></span>
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password"
                                        placeholder=" Your Password" id="password" onkeyup="validatePassword()" />
                                    <span id="password-error" class="validation-label" style="color: red;"></span>
                                </div>
                                <div class="form-group last mb-3">
                                    <label for="password">Re-Enter Password</label>
                                    <input type="password" class="form-control" placeholder="Your Password"
                                        id="repassword" onkeyup="validateRePassword()" />
                                    <span id="repassword-error" class="validation-label" style="color: red;"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="phone">Mobile</label>
                                    <input type="phone" class="form-control" name="phone"
                                        placeholder="your-mobile number without country code" id="phone"
                                        onkeyup="validateMobileNumber()" />
                                    <span id="phone-error" class="validation-label" style="color: red;"></span>
                                </div>
                                <div class="d-sm-flex mb-5 align-items-center"><span class="ml-auto"><a href="/login"
                                            class="forgot-pass">Already have an
                                            account?</a></span>
                                </div>
                                <input type="submit" value="SignUp" class="btn btn-block py-2 btn-primary"
                                    onclick="return validateForm()" />
                                <span id="submit-error" class="validation-label" style="color: red;"></span>
                                <div class="card-read-more">
                                    <a href="/" class="btn btn-link btn-block" style="color: rgb(91, 81, 74);">
                                        <--BACK </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // USER SIGNUP VALIDATION

        var nameError = document.getElementById('name-error');
        var emailError = document.getElementById('email-error');
        var passwordError = document.getElementById('password-error');
        var repasswordError = document.getElementById('repassword-error');
        var phoneError = document.getElementById('phone-error');
        var submitError = document.getElementById('submit-error');

        function validateName() {
            var name = document.getElementById('name').value;
            if (name.length == 0) {
                nameError.innerHTML = 'Name is required';
                return false;
            }
            if (!name.match(/^[A-Za-z]+ [A-Za-z]+$/)) {
                nameError.innerHTML = 'Write full name';
                return false;
            }
            nameError.innerHTML = '';
            return true;
        }

        function validateEmail() {
            var email = document.getElementById('email').value;
            if (email.length == 0) {
                emailError.innerHTML = 'Email is required';
                return false;
            }
            if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
                emailError.innerHTML = 'Email invalid';
                return false;
            }
            emailError.innerHTML = '';
            return true;
        }

        function validatePassword() {
            var password = document.getElementById('password').value;
            var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
            if (password.match(passChecker)) {
                passwordError.innerHTML = '';
                return true;
            } else {
                passwordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
                return false;
            }
        }

        function validateRePassword() {
            var password = document.getElementById('password').value;
            var repassword = document.getElementById('repassword').value;
            if (password !== repassword) {
                repasswordError.innerHTML = "password doesn't match";
                return false
            } else {
                repasswordError.innerHTML = " ";
                return true;
            }
        }

        function validateMobileNumber() {
            var phone = document.getElementById('phone').value;
            if (phone.length == 0) {
                phoneError.innerHTML = 'Mobile number is required';
                return false;
            } else if (phone.length > 10) {
                phoneError.innerHTML = "Max limit exceeded";
                return false;
            } else if (phone.length === 10) {
                phoneError.innerHTML = " ";
                return true;
            }
        }

        function validateForm() {
            if (!validateName() || !validateEmail() || !validatePassword() || !validateRePassword() || !validateMobileNumber()) {
                submitError.style.display = 'flex';
                submitError.style.justifyContent = 'center';
                submitError.innerHTML = 'Please fix all errors to submit';
                setTimeout(() => {
                    submitError.style.display = 'none';
                }, 3000);
                return false;
            }
        }
    </script>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>