<div class="container">
    <div class="p-b-10">
        <h3 class="ltext-103 cl5 text-white ">
            `
        </h3>
        <h3 class="ltext-103 cl5 text-white ">
            `
        </h3>
    </div>
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="images/akhila3.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        Customer
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                {{!-- <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div> --}}
                <!-- END SIDEBAR BUTTONS -->


                <div class="portlet light bordered">
                    <div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <a href="/viewOrders">My Orders</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-person"></i>

                            <a href="" class=""" mb-3" data-toggle="modal" data-target="#exampleModalCenter">Profile
                                Information</a>

                            {{!-- <a href="/account">Profile Information</a> --}}
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="icon material-icons md-store"></i>
                            <a href="/userProfile">Manage Address</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-favorite-outline"></i>
                            <a href="/wishList">My Wishlist</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-shopping-cart"></i>
                            <a href="/cart">My Cart</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="zmdi zmdi-fi-rs-sign-out "></i>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <p>
                    {{!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Link with href
                    </a> --}}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        + Add a new Address
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-8 mb-4">
                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h5 class="mb-0">ADD A NEW ADDRESS</h5>
                                    </div>
                                    <div class="card-body">
                                        <form action="/addAddress/{{user._id}}" method="post">
                                            <!-- 2 column grid layout with text inputs for the first and last names -->
                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="name" class="form-control" required />
                                                        <label class="form-label" for="fullname">Full Name</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-4">
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="form7Example1" class="form-control"
                                                            required />
                                                        <label class="form-label" for="form7Example1">Pincode</label>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-outline">
                                                        <input type="text" id="phone" class="form-control" required />
                                                        <label class="form-label" for="phone">10 Digit
                                                            Mobile Number</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" id="locality" class="form-control" required />
                                                <label class="form-label" for="locality">Locality</label>
                                            </div>

                                            <!-- Text input -->
                                            <div class="form-outline mb-4">
                                                <input type="text" id="address" class="form-control" required />
                                                <label class="form-label" for="addressArea">Address(area and
                                                    street)</label>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="text" id="city" class="form-control" required />
                                                <label class="form-label" for="city">City/District/Town</label>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label for="state">State</label>
                                                <select id="state" class="form-control">
                                                    <option selected>SELECT</option>
                                                    <option>Kerala</option>
                                                    <option>Tamilnadu</option>
                                                    <option>Karnataka</option>
                                                    <option>Goa</option>
                                                    <option>UP</option>
                                                </select>
                                            </div>

                                            <!-- Message input -->
                                            <div class="form-outline mb-4">
                                                {{!-- <input type="text" id="form7Example4" class="form-control" /> --}}
                                                <label class="form-label" for="form7Example4">Address Type</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                    <label class="form-check">Home</label>
                                                    <input class=" form-check-input" type="radio"
                                                        name="inlineRadioOptions" id="inlineRadio1" value="option2">
                                                    <label class="form-check-label" for="inlineRadio1">Work</label>
                                                </div>
                                            </div>

                                            <!-- Checkbox -->
                                            <div class="form-check d-flex justify-content-center mb-2">
                                                <a href="/userProfile"
                                                    class="btn btn-light rounded font-sm mr-5 text-body hover-up">
                                                    Cancel
                                                </a>
                                                <button type="submit"
                                                    class="btn btn-md rounded font-sm hover-up">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Profile Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/addAddress/{{user._id}}" method="post">
                    <div class="form-group">
                        <label for="inputAddress">First Name</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="first name">
                    </div>

                    {{!-- <div class="form-group">
                        <label for="inputAddress2">Last Name</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="last name">
                    </div> --}}
                    <div class="form-group">

                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Phone No.</label>
                            <input type="phone" class="form-control" id="inputEmail4" placeholder="Phone">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background: #F1F3FA;
    }

    /* Profile container */
    .profile {
        margin: 20px 0;
    }

    /* Profile sidebar */
    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        margin-left: 80px;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

    .profile-userbuttons .btn:last-child {
        margin-right: 0px;
    }

    .profile-usermenu {
        margin-top: 30px;
    }

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-usermenu ul li:last-child {
        border-bottom: none;
    }

    .profile-usermenu ul li a {
        color: #93a3b5;
        font-size: 14px;
        font-weight: 400;
    }

    .profile-usermenu ul li a i {
        margin-right: 8px;
        font-size: 14px;
    }

    .profile-usermenu ul li a:hover {
        background-color: #fafcfd;
        color: #5b9bd1;
    }

    .profile-usermenu ul li.active {
        border-bottom: none;
    }

    .profile-usermenu ul li.active a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
    }

    /* Profile Content */
    .profile-content {
        padding: 20px;
        background: #fff;
        min-height: 460px;
    }

    a,
    button,
    code,
    div,
    img,
    input,
    label,
    li,
    p,
    pre,
    select,
    span,
    svg,
    table,
    td,
    textarea,
    th,
    ul {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .dashboard-stat,
    .portlet {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .portlet {
        margin-top: 0;
        margin-bottom: 25px;
        padding: 0;
        border-radius: 4px;
    }

    .portlet.bordered {
        border-left: 2px solid #e6e9ec !important;
    }

    .portlet.light {
        padding: 12px 20px 15px;
        background-color: #fff;
    }

    .portlet.light.bordered {
        border: 1px solid #e7ecf1 !important;
    }

    .list-separated {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .profile-stat {
        padding-bottom: 20px;
        border-bottom: 1px solid #f0f4f7;
    }

    .profile-stat-title {
        color: #7f90a4;
        font-size: 25px;
        text-align: center;
    }

    .uppercase {
        text-transform: uppercase !important;
    }

    .profile-stat-text {
        color: #5b9bd1;
        font-size: 10px;
        font-weight: 600;
        text-align: center;
    }

    .profile-desc-title {
        color: #7f90a4;
        font-size: 17px;
        font-weight: 600;
    }

    .profile-desc-text {
        color: #7e8c9e;
        font-size: 14px;
    }

    .margin-top-20 {
        margin-top: 20px !important;
    }

    [class*=" fa-"]:not(.fa-stack),
    [class*=" glyphicon-"],
    [class*=" icon-"],
    [class^=fa-]:not(.fa-stack),
    [class^=glyphicon-],
    [class^=icon-] {
        display: inline-block;
        line-height: 14px;
        -webkit-font-smoothing: antialiased;
    }

    .profile-desc-link i {
        width: 22px;
        font-size: 19px;
        color: #abb6c4;
        margin-right: 5px;
    }
</style>
<script>
    (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()

</script>